@import "../../css/variabels.css";

.byInput, .byForm {
    box-sizing: border-box;
}

.byInput {
    padding: 20px;
}

.uploadFilms {
    display: flex;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.inputPosition {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleWrapper {
    padding: 20px 0px 50px;
    font-family: 'Arial', sans-serif;
}

.textHead {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.list {
    padding-top: 15px;
    font-size: 18px;
    text-align: center;
}

.variant:last-child {
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .byForm, .byInput {
    width: 49%;
}
}


@media screen and (max-width: 767px) {
     .uploadFilms {
       flex-direction: column;
    }

    .byForm, .byInput {
    width: 100%;
}

.byInput {
    margin-top: 20px;
}

}